:root {
    --background: #F2F2F2;
    --view-switch: #E8E8E8;
    --input: #D9D9D9;
    --border: #f0f0f0;
    --lesson: #f9f9f9;
    --black: #000;
    --hover: #0078d7;
    --navBorder: #c0c0c0;
    --gray: #555;
    --white: #fff;
    --text: #000;
}
.darkmode{
    --background: #2e2d2d;
    --view-switch: #2E2E2E;
    --input: #3C3C3C;
    --border: #444444;
    --lesson: #2A2A2A;
    --black: #000;
    --hover: #00A6FF;
    --navBorder: #fff;
    --gray: #CCCCCC;
    --white: #3C3C3C;
    --text: #fff;
}
*  {
    margin: 0;
    color: var(--text);
    font-family: Arial, serif;
}

body {
    background-color: var(--white);
    height: 100vh;
    .sidebar {
        display: flex;
        flex-direction: column;
        align-items: center;

        position: fixed;

        width: 25%;
        height: 100%;

        padding: 50px 0;

        background-color: var(--background);

        form {
            width: 100%;
            display: flex;
            justify-content: center;

            label {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 10px;

                width: 65%;

                margin: 70px 0;

                h2 {
                    text-align: center;
                }

                .formInput {
                    height: 40px;
                    padding: 0 20px;
                    background-color: var(--input);
                    border: none;
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 5px;
                    height: 20px;
                    width: 100%;

                    cursor: pointer;



                    &:hover {
                        img, p {
                            transform: scale(1.1);
                            transition: 0.3s;
                        }
                    }

                    img {
                        width: 20px;
                    }
                }

            }
        }

        .option {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

            div {
                display: flex;
                align-items: center;

                img {
                    height: 30px;

                    margin:  0 15px 0 0;
                }

                .textSize {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 15px;
                    background-color: var(--white);
                    border: 1px solid var(--black);
                    border-radius: 30px;

                    p {
                        padding: 5px 10px;
                        cursor: pointer;
                        text-align: center;

                        &:nth-child(2) {
                            border-left: 1px solid var(--black);
                            border-right: 1px solid var(--black);
                        }

                        &:hover {
                            background-color: var(--border);
                            color: var(--hover);
                        }
                    }
                }
            }
        }
    }

    .content {
        position: relative;
        width: 75%;
        height: 100%;
        float:right;
    }

    .navigation {
        position: absolute;
        top: 20px;
        left: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: var(--view-switch);
        border-radius: 25px;
        width: 120px;
        height: 40px;
        padding: 5px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--navBorder);
    }

    .nav-button {
        background-color: transparent;
        border: none;
        font-size: 18px;
        cursor: pointer;
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .switch-container {
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        gap: 10px;
        height: 40px;
    }

    .date-switch {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--view-switch);
        border-radius: 25px;
        padding: 5px 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--navBorder);
        height: 100%;
    }

    #dateInput {
        background-color: var(--input);
        border: none;
        padding: 5px 10px;
        width: 100px;
        text-align: center;
        cursor: pointer;
        height: 70%;
    }

    .confirm-btn {
        padding: 5px 10px;
        background-color: var(--white);
        border: none;
        cursor: pointer;
        border-radius: 5px;
        height: 100%;
    }

    .confirm-btn img {
        width: 15px;
        height: 100%;
    }


    .view-switch {
        display: flex;
        align-items: center;
        gap: 10px;
        background-color: var(--view-switch);
        border-radius: 25px;
        padding: 5px 15px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid var(--navBorder);
        height: 100%;
    }

    .view-btn {
        background-color: transparent;
        border: none;
        font-size: 16px;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
        height: 100%;
    }

    .divider {
        width: 1px;
        height: 100%;
        background-color: var(--navBorder);
    }
    .lesson-panel-container {
        display: flex;
        align-items: flex-start;
        width: 100%;
        margin-top:110px;
        height: auto;
        overflow-y: visible;
        position: relative;
        justify-content: center;
    }

    .lesson-panels {
        display: flex;
        justify-content: flex-start;
        gap: 0px;
        max-width: 100%;
        overflow: hidden;
    }

    .lesson-panel {
        background-color: var(--white);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 1em;
        display: flex;
        flex-direction: column;
        width:150px;
        min-height: 400px;
        height:auto;
        overflow: hidden;
        border:1px solid var(--navBorder);
        font-size: 1rem;
        line-height: 1.5;
        box-sizing: border-box;
    }


    .lesson-header {
        text-align: center;
        margin-bottom: 10px;
    }

    .lesson-date {
        font-size: 18px;
        font-weight: bold;
    }

    .divider-line {
        width: 100%;
        height: 2px;
        background-color: var(--navBorder);
        margin-top: 10px;
    }

    .lesson {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 5px;
        border: 1px solid var(--border);
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: var(--lesson);
        overflow-wrap: break-word;
    }

    .lesson-time {
        font-size: 14px;
        color: var(--gray);
        text-align: right;
        margin-bottom: 5px;
    }

    .lesson-title p {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
        text-align: center;
    }

    .lesson:last-child {
        margin-bottom: 0;
    }
    .add-btn {
        position: fixed;
        bottom: 20px;
        right: 20px;
        border: 1px solid var(--navBorder);
        border-radius: 50%;
        padding: 15px;
        cursor: pointer;
        background-color: var(--white);
        z-index: 1000;
    }

    .add-btn img {
        width: 24px;
        height: 24px;
    }
    .darkMode-btn {
        border: 1px solid var(--black);
        border-radius:30px;
        padding: 13px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        width: 150px;
        background-color: var(--white);
    }

    .darkMode-btn img {
        width: 40px;
        height: auto;
    }

    .darkMode-btn p {
        margin: 0;
        font-size: 14px;
    }

    @media (max-width: 900px) {
        .sidebar {
            position: initial;
            top: 0;
            width: 100%;
            height: auto;
            padding: 20px 0;
        }
        .sidebar button {
            width: 100%;
            margin: 5px 0;
            padding: 10px;
            text-align: center;
        }
        .content{
            width:100%;
        }
        .navigation {
            position: initial;
            width: 30%;
            justify-content: space-around;
            display: flex;
            margin: 15px auto 0;
        }
        .nav-button {
            font-size: 16px;
            width: 100%;
            padding: 5px;
            text-align: center;
        }

        .switch-container {
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: auto;
            top: 80px;
            right: 0;
            padding-left: 10px;
        }

        .date-switch,
        .view-switch {
            width: 80%;
            margin: 0 auto;
            padding: 10px;
            top: 35px;
            left: 50%;
        }

        #dateInput {
            width: 50%; /* Skalowanie pola wyboru daty */
            padding: 8px;
        }

        .confirm-btn {
            width: auto;
            padding: 8px 12px;
        }

        .view-btn {
            font-size: 14px;
            padding: 8px;
            flex-grow: 1; /* Dopasowanie przycisków do kontenera */
            text-align: center;
        }

        .lesson-panel-container {
            justify-content: left;
            padding-left: 15px;
            display: flex;
            align-items: flex-start;
            width:1050px;
            margin-top: 0px;
        }
        .lesson-panel{
            flex-shrink: 0;
        }
        .slide
        {
            margin-top: 165px;
            width: 100%;
            overflow-x: scroll;
        }
        .content{
            flex-grow: 1;
        }
    }
}
